# We are generating a dataframe out of .json files provided in this notebook

In [1]:
# Imports
import os, pickle, numpy as np, pandas as pd

In [2]:
os.chdir(r'C:\Users\D3\Desktop\Zomatodatasets')

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AC95-BC77

 Directory of C:\Users\D3\Desktop\Zomatodatasets

20-02-2022  08:12    <DIR>          .
20-02-2022  08:12    <DIR>          ..
20-02-2022  08:12             8,783 Country-Code.xlsx
20-02-2022  08:12         2,198,732 file1.json
20-02-2022  08:12        20,006,072 file2.json
20-02-2022  08:12        15,610,388 file3.json
20-02-2022  08:12        16,427,749 file4.json
20-02-2022  08:12           669,503 file5.json
20-02-2022  08:12                72 Untitled.ipynb
20-02-2022  08:12         2,257,316 zomato.csv
               8 File(s)     57,178,615 bytes
               2 Dir(s)  320,553,041,920 bytes free

Reading the JSON files into a pandas dataframe

In [4]:
jsonfile1 = pd.read_json('file1.json')
jsonfile2 = pd.read_json('file2.json')
jsonfile3 = pd.read_json('file3.json')
jsonfile4 = pd.read_json('file4.json')
jsonfile5 = pd.read_json('file5.json')

In [5]:
print(jsonfile1.shape)
print(jsonfile2.shape)
print(jsonfile3.shape)
print(jsonfile4.shape)
print(jsonfile5.shape)

(479, 7)
(550, 4)
(550, 7)
(479, 4)
(300, 7)

In [6]:
jsonfile1.head(2)

,results_found,restaurants,results_shown,results_start,message,code,status
0,17151.0,"[{'restaurant': {'has_online_delivery': 1, 'ph...",20.0,1.0,NaN,NaN,NaN
1,4748.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN

In [7]:
jsonfile2.head(2)

,results_found,results_start,results_shown,restaurants
0,1263908,21,20,"[{'restaurant': {'R': {'res_id': 16668008}, 'a..."
1,1263908,21,20,"[{'restaurant': {'R': {'res_id': 16668008}, 'a..."

In [8]:
jsonfile3.head(2)

,results_found,results_start,results_shown,restaurants,code,status,message
0,1263908.0,41.0,20.0,"[{'restaurant': {'R': {'res_id': 2100702}, 'ap...",NaN,NaN,NaN
1,1263908.0,41.0,20.0,"[{'restaurant': {'R': {'res_id': 2100702}, 'ap...",NaN,NaN,NaN

In [9]:
jsonfile4.head(2)

,results_found,results_start,results_shown,restaurants
0,1263908,61,20,"[{'restaurant': {'R': {'res_id': 16604370}, 'a..."
1,1263908,61,20,"[{'restaurant': {'R': {'res_id': 16604370}, 'a..."

In [10]:
jsonfile5.head()

,results_found,restaurants,results_shown,results_start,message,code,status
0,0.0,[],0.0,1.0,NaN,NaN,NaN
1,6835.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN
2,0.0,[],0.0,1.0,NaN,NaN,NaN
3,0.0,[],0.0,1.0,NaN,NaN,NaN
4,8680.0,"[{'restaurant': {'has_online_delivery': 0, 'ph...",20.0,1.0,NaN,NaN,NaN

Checking what is actually present in the data df['restaurants']

In [11]:
from pprint import pprint  
pprint(jsonfile5['restaurants'][4][0])

{'restaurant': {'R': {'res_id': 17093124},
                'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
                'average_cost_for_two': 40,
                'cuisines': 'Cuban, Spanish',
                'currency': '$',
                'deeplink': 'zomato://restaurant/17093124',
                'establishment_types': [],
                'events_url': 'https://www.zomato.com/tampa-bay/columbia-restaurant-tampa/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
                'featured_image': 'https://b.zmtcdn.com/data/pictures/4/17093124/247c3cc7a1642ade08b01f86d5436481_featured_v2.jpg',
                'has_online_delivery': 0,
                'has_table_booking': 0,
                'id': '17093124',
                'is_delivering_now': 0,
                'location': {'address': '2117 E 7th Ave, Tampa, FL 33605',
                             'city': 'Tampa Bay',
                             'city_id': 604,
                             'country_id': 216,
                             'latitude': '27.9598840000',
                             'locality': 'Ybor City',
                             'locality_verbose': 'Ybor City, Tampa Bay',
                             'longitude': '-82.4351499000',
                             'zipcode': '33605'},
                'menu_url': 'https://www.zomato.com/tampa-bay/columbia-restaurant-tampa/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
                'name': 'Columbia Restaurant',
                'offers': [],
                'photos_url': 'https://www.zomato.com/tampa-bay/columbia-restaurant-tampa/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
                'price_range': 3,
                'switch_to_order_menu': 0,
                'thumb': 'https://b.zmtcdn.com/data/pictures/4/17093124/247c3cc7a1642ade08b01f86d5436481_featured_v2.jpg',
                'url': 'https://www.zomato.com/tampa-bay/columbia-restaurant-tampa?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
                'user_rating': {'aggregate_rating': '4.4',
                                'rating_color': '5BA829',
                                'rating_text': 'Very Good',
                                'votes': '1746'}}}

In [12]:
# Checking the actual dataset
country_code_df = pd.read_excel('Country-Code.xlsx')
zomato_df = pd.read_csv('zomato.csv')
print(country_code_df.shape)
zomato_df.shape

(15, 2)

(9551, 21)

In [13]:
zomato_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [14]:
zomato_df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

# Checking and building login for the first index

In [15]:
temp_df = jsonfile1[['restaurants']]
temp_df = temp_df.dropna()
print(temp_df.shape)
temp_df.head()

(76, 1)

                                         restaurants
0  [{'restaurant': {'has_online_delivery': 1, 'ph...
1  [{'restaurant': {'has_online_delivery': 0, 'ph...
2  [{'restaurant': {'has_online_delivery': 0, 'ph...
3  [{'restaurant': {'has_online_delivery': 0, 'ph...
4  [{'restaurant': {'has_online_delivery': 0, 'ph...

In [16]:
temp_list = list()

for i in range(0, len(temp_df['restaurants'])):
    for j in range(0, len(temp_df['restaurants'][i])):
        for k, l in temp_df['restaurants'][i][j].items():
            if l not in temp_list: temp_list.append(l)

In [17]:
print(len(temp_list))
temp_list[150]

1180

{'has_online_delivery': 0,
 'photos_url': 'https://www.zomato.com/lucknow/the-chocolate-heaven-gomti-nagar/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
 'url': 'https://www.zomato.com/lucknow/the-chocolate-heaven-gomti-nagar?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
 'price_range': 2,
 'apikey': 'b90e6a8c738410315a20c449fe2eb1b1',
 'user_rating': {'rating_text': 'Very Good',
  'rating_color': '5BA829',
  'votes': '165',
  'aggregate_rating': '4.1'},
 'R': {'res_id': 801636},
 'name': 'The Chocolate Heaven',
 'has_table_booking': 0,
 'is_delivering_now': 0,
 'deeplink': 'zomato://restaurant/801636',
 'menu_url': 'https://www.zomato.com/lucknow/the-chocolate-heaven-gomti-nagar/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
 'average_cost_for_two': 400,
 'switch_to_order_menu': 0,
 'offers': [],
 'cuisines': 'Cafe, Italian, Desserts',
 'location': {'latitude': '26.8558534680',
  'address': '3/553, Vivek Khand, Opposite Aryans, Gomti Nagar, Lucknow, Uttar Pradesh',
  'city': 'Lucknow',
  'country_id': 1,
  'locality_verbose': 'Gomti Nagar, Lucknow',
  'city_id': 8,
  'zipcode': '226010',
  'longitude': '81.0008741721',
  'locality': 'Gomti Nagar'},
 'featured_image': 'https://b.zmtcdn.com/data/pictures/6/801636/d7d1d65a56a3ef244c4a5e575cbbfc12_featured_v2.jpg',
 'currency': 'Rs.',
 'id': '801636',
 'thumb': 'https://b.zmtcdn.com/data/pictures/6/801636/d7d1d65a56a3ef244c4a5e575cbbfc12_featured_v2.jpg',
 'establishment_types': [],
 'events_url': 'https://www.zomato.com/lucknow/the-chocolate-heaven-gomti-nagar/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1'}

In [18]:
# Most important features for building a dataset
zomato_df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

However if we check the json we have multiple url's which contain images, text data along with reviews, et cetera which is very important to do some text analytics (find which dish is popular in a restaurant and how good the food and ambience is?)

But here we are creating a vanilla dataset out of the most important features

In [19]:
var_list = list()
for i in temp_list[:1]:
    for j, k in i.items():
        print(j,'-->',k,'\n')
    print('\n\n\n')

has_online_delivery --> 1

photos_url --> https://www.zomato.com/HauzKhasSocial/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop

url --> https://www.zomato.com/HauzKhasSocial?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1

price_range --> 3

apikey --> b90e6a8c738410315a20c449fe2eb1b1

user_rating --> {'rating_text': 'Very Good', 'rating_color': '5BA829', 'votes': '7931', 'aggregate_rating': '4.3'}

R --> {'res_id': 308322}

name --> Hauz Khas Social

cuisines --> Continental, American, Asian, North Indian

is_delivering_now --> 0

deeplink --> zomato://restaurant/308322

menu_url --> https://www.zomato.com/HauzKhasSocial/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop

average_cost_for_two --> 1600

book_url --> https://www.zomato.com/HauzKhasSocial/book?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1

switch_to_order_menu --> 0

offers --> []

has_table_booking --> 1

location --> {'latitude': '28.5542851000', 'address': '9-A & 12, Hauz Khas Village, New Delhi', 'city': 'New Delhi', 'country_id': 1, 'locality_verbose': 'Hauz Khas Village, New Delhi', 'city_id': 1, 'zipcode': '', 'longitude': '77.1944706000', 'locality': 'Hauz Khas Village'}

featured_image --> https://b.zmtcdn.com/data/pictures/2/308322/cf86dbd8b8ca4d40682c7713f112cc07_featured_v2.jpg

zomato_events --> [{'event': {'display_date': '05 April - 21 May', 'end_time': '01:00:00', 'date_added': '2017-04-05 14:18:49', 'start_date': '2017-04-05', 'photos': [{'photo': {'photo_id': 185854, 'order': 0, 'type': 'NORMAL', 'url': 'https://b.zmtcdn.com/data/zomato_events/photos/b73/ec1691986700e9839313d9353b2e4b73_1491382129.jpg', 'md5sum': 'ec1691986700e9839313d9353b2e4b73', 'uuid': 1491382088569328, 'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/b73/ec1691986700e9839313d9353b2e4b73_1491382129.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}, {'photo': {'photo_id': 185884, 'order': 1, 'type': 'NORMAL', 'url': 'https://b.zmtcdn.com/data/zomato_events/photos/3ce/8cda41e10df03e71d09faa00f64143ce_1491384739.jpg', 'md5sum': '8cda41e10df03e71d09faa00f64143ce', 'uuid': 1491384715122322, 'thumb_url': 'https://b.zmtcdn.com/data/zomato_events/photos/3ce/8cda41e10df03e71d09faa00f64143ce_1491384739.jpg?fit=around%7C100%3A100&crop=100%3A100%3B%2A%2C%2A'}}], 'share_url': 'http://www.zoma.to/r/308322', 'description': "It's #IPL season and we're screening 'em all! Come one and all to witness the drama and pair it with our On Tap offer on beer - Stella + Hoegaarden! See you!", 'title': 'IPL Match Screenings', 'display_time': '10:00 am - 01:00 am', 'book_link': '', 'restaurants': [], 'disclaimer': 'Restaurants are solely responsible for the service; availability and quality of the events including all or any cancellations/ modifications/ complaints.', 'friendly_start_date': '05 April', 'is_end_time_set': 1, 'event_id': 118139, 'end_date': '2017-05-21', 'event_category': 0, 'friendly_end_date': '21 May', 'is_active': 1, 'start_time': '10:00:00', 'is_valid': 1, 'event_category_name': ''}}]

currency --> Rs.

id --> 308322

thumb --> https://b.zmtcdn.com/data/pictures/2/308322/cf86dbd8b8ca4d40682c7713f112cc07_featured_v2.jpg

establishment_types --> []

events_url --> https://www.zomato.com/HauzKhasSocial/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1

In [20]:
var_list = list()
for i in temp_list[:2]:
    for j, k in i.items():
        var_list.append({'Restaurant ID':i['R']['res_id'],
        'Restaurant Name':i['name'],
        'Country Code':i['location']['country_id'],
        'City':i['location']['city'],
        'Address': i['location']['address'],
        'Locality': i['location']['locality'], 
        'Locality Verbose': i['location']['locality_verbose'] , 
        'Longitude': i['location']['latitude'],
        'Latitude': i['location']['longitude'], 
        'Cuisines': i['cuisines'],
        'Average Cost for two': i['average_cost_for_two'], 
        'Currency':i['currency'] , 
        'Has Table booking':i['has_table_booking'] ,
        'Has Online delivery':i['has_online_delivery'] , 
        'Is delivering now': i['is_delivering_now'], 
        'Switch to order menu':i['switch_to_order_menu'] ,
        'Price range':i['price_range'] , 
        'Aggregate rating':i['user_rating']['aggregate_rating'] , 
        'Rating color':i['user_rating']['rating_color'] , 
        'Rating text': i['user_rating']['rating_text'],
        'Votes': i['user_rating']['votes']
        })

In [21]:
var_list[0]

{'Restaurant ID': 308322,
 'Restaurant Name': 'Hauz Khas Social',
 'Country Code': 1,
 'City': 'New Delhi',
 'Address': '9-A & 12, Hauz Khas Village, New Delhi',
 'Locality': 'Hauz Khas Village',
 'Locality Verbose': 'Hauz Khas Village, New Delhi',
 'Longitude': '28.5542851000',
 'Latitude': '77.1944706000',
 'Cuisines': 'Continental, American, Asian, North Indian',
 'Average Cost for two': 1600,
 'Currency': 'Rs.',
 'Has Table booking': 1,
 'Has Online delivery': 1,
 'Is delivering now': 0,
 'Switch to order menu': 0,
 'Price range': 3,
 'Aggregate rating': '4.3',
 'Rating color': '5BA829',
 'Rating text': 'Very Good',
 'Votes': '7931'}

# Building the Main Logic

In [22]:
def create_structured_json(unstructured_json):

    """
    Columns needed:
       'Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'
    """
    try:
        import pandas as pd
        json_df = pd.read_json(unstructured_json)
        temp_df = json_df[['restaurants']].dropna()
        temp_list, var_list = [], []

        for i in range(0, len(temp_df['restaurants'])):
            for j in range(0, len(temp_df['restaurants'][i])):
                for k, l in temp_df['restaurants'][i][j].items():
                    if l not in temp_list: temp_list.append(l)
                        
        for i in temp_list:
            for j, k in i.items():
                var_list.append({
                'Restaurant ID':i['R']['res_id'],
                'Restaurant Name':i['name'],
                'Country Code':i['location']['country_id'],
                'City':i['location']['city'],
                'Address': i['location']['address'],
                'Locality': i['location']['locality'], 
                'Locality Verbose': i['location']['locality_verbose'] , 
                'Longitude': i['location']['latitude'],
                'Latitude': i['location']['longitude'], 
                'Cuisines': i['cuisines'],
                'Average Cost for two': i['average_cost_for_two'], 
                'Currency':i['currency'] , 
                'Has Table booking':i['has_table_booking'] ,
                'Has Online delivery':i['has_online_delivery'] , 
                'Is delivering now': i['is_delivering_now'], 
                'Switch to order menu':i['switch_to_order_menu'] ,
                'Price range':i['price_range'] , 
                'Aggregate rating':i['user_rating']['aggregate_rating'] , 
                'Rating color':i['user_rating']['rating_color'] , 
                'Rating text': i['user_rating']['rating_text'],
                'Votes': i['user_rating']['votes']
                })
                
        return pd.DataFrame(var_list)
                
    except Exception as error_msg: return error_msg

In [23]:
jsondf1 = create_structured_json('file1.json')
jsondf1.shape

(27340, 21)

In [24]:
jsondf2 = create_structured_json('file2.json')
jsondf2.shape

(88167, 21)

In [25]:
jsondf3 = create_structured_json('file3.json')
jsondf3.shape

(74791, 21)

In [26]:
jsondf4 = create_structured_json('file4.json')
jsondf4.shape

(69312, 21)

In [27]:
jsondf5 = create_structured_json('file5.json')
jsondf5.shape

(9660, 21)

In [28]:
final_df = pd.concat([jsondf1, jsondf2, jsondf3, jsondf4, jsondf5], ignore_index=True)

In [29]:
final_df.shape

(269270, 21)

In [30]:
final_df = final_df.drop_duplicates(subset=['Restaurant ID']).reset_index(drop=True)

In [31]:
final_df.shape

(9577, 21)

In [32]:
final_df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,308322,Hauz Khas Social,1,New Delhi,"9-A & 12, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",28.5542851000,77.1944706000,"Continental, American, Asian, North Indian",...,Rs.,1,1,0,0,3,4.3,5BA829,Very Good,7931
1,18037817,Qubitos - The Terrace Cafe,1,New Delhi,"C-7, Vishal Enclave, Opposite Metro Pillar 417...",Rajouri Garden,"Rajouri Garden, New Delhi",28.6471325000,77.1177015000,"Thai, European, Mexican, North Indian, Chinese...",...,Rs.,1,0,0,0,3,4.5,3F7E00,Excellent,778
2,312345,The Hudson Cafe,1,New Delhi,"2524, 1st Floor, Hudson Lane, Delhi University...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",28.6949468000,77.2043172000,"Cafe, Italian, Continental, Chinese",...,Rs.,0,1,0,0,2,4.4,5BA829,Very Good,1537
3,307490,Summer House Cafe,1,New Delhi,"1st Floor, DDA Shopping Complex, Aurobindo Pla...",Hauz Khas,"Hauz Khas, New Delhi",28.5525204000,77.2038090000,"Italian, Continental",...,Rs.,1,0,0,0,3,4.1,5BA829,Very Good,1823
4,18241537,38 Barracks,1,New Delhi,"M-38, Outer Circle, Connaught Place, New Delhi",Connaught Place,"Connaught Place, New Delhi",28.6330248887,77.2228584811,"North Indian, Italian, Asian, American",...,Rs.,1,0,0,0,3,4.4,5BA829,Very Good,840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9572,17582627,Senor Iguanas,216,Pocatello,"961 Hiline Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",42.8942000000,-112.4433000000,Mexican,...,$,0,0,0,0,1,3.6,9ACD32,Good,108
9573,17582625,Sandpiper Restaurant & Lounge,216,Pocatello,"1400 Bench Rd, Pocatello, ID 83201",Pocatello,"Pocatello, Pocatello",42.9012000000,-112.4320000000,"American, Seafood, Steak",...,$,0,0,0,0,3,3.6,9ACD32,Good,85
9574,17582668,Texas Roadhouse,216,Pocatello,"560 Bullock Street, Pocatello, ID 83202",Chubbuck,"Chubbuck, Pocatello",42.9105180000,-112.4613260000,"American, BBQ, Steak",...,$,0,0,0,0,3,3.5,9ACD32,Good,83
9575,17582498,Riverwalk Cafe,216,Pocatello,"695 E Main St, Lava Hot Springs, ID 83246",Lava Hot Springs,"Lava Hot Springs, Pocatello",42.6200000000,-112.0132000000,"Asian, Thai",...,$,0,0,0,0,1,3.6,9ACD32,Good,91
9576,17582499,Royal Hotel,216,Pocatello,"11 E Main St, Lava Hot Springs, ID 83246",Lava Hot Springs,"Lava Hot Springs, Pocatello",42.6192000000,-112.0127000000,"Pizza, Bar Food",...,$,0,0,0,0,1,3.6,9ACD32,Good,59

In [33]:
# Compare the actual dataset and the dataset we just generated 
print(zomato_df.shape) 
print(final_df.shape)

(9551, 21)
(9577, 21)

In [34]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9577 entries, 0 to 9576
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9577 non-null   int64
 1   Restaurant Name       9577 non-null   object
 2   Country Code          9577 non-null   int64
 3   City                  9577 non-null   object
 4   Address               9577 non-null   object
 5   Locality              9577 non-null   object
 6   Locality Verbose      9577 non-null   object
 7   Longitude             9577 non-null   object
 8   Latitude              9577 non-null   object
 9   Cuisines              9577 non-null   object
 10  Average Cost for two  9577 non-null   int64
 11  Currency              9577 non-null   object
 12  Has Table booking     9577 non-null   int64
 13  Has Online delivery   9577 non-null   int64
 14  Is delivering now     9577 non-null   int64
 15  Switch to order menu  9577 non-null   int64
 16  Price range           9577 non-null   int64
 17  Aggregate rating      9577 non-null   object
 18  Rating color          9577 non-null   object
 19  Rating text           9577 non-null   object
 20  Votes                 9577 non-null   object
dtypes: int64(8), object(13)
memory usage: 1.5+ MB

In [35]:
len(final_df['Restaurant ID'].value_counts())

9577

In [36]:
len(zomato_df['Restaurant ID'].value_counts())

9551